@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Yusei+Magic&display=swap');

body {
    background: linear-gradient(rgb(52, 0, 52), rgb(0, 9, 38));
}

h1 {
    color: white;
    text-align: center;
    font-family: "Cookie", cursive;
    font-size: 60px
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 50%; 
    margin: 25px; 
    border: 4px solid white; 
    cursor: pointer;
    transition: .2s linear;
}

img:hover {
    transform: scale(1.1);
}

.expandida {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9); 
}